@font-face {
    font-family: 'Alice';
    src: local('Alice Regular'), local('Alice-Regular'), url('Aliceregular.woff2') format('woff2'), url('Aliceregular.woff') format('woff'), url('Aliceregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
